body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.h1 {
    margin: 5% 0;
}

.card {
    margin-top: 0.5%;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}